<%= form_with(model: quantity_type, local: true) do |form| %>
  <% if quantity_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quantity_type.errors.count, "error") %> prohibited this quantity_type from being saved:</h2>

      <ul>
      <% quantity_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, id: :quantity_type_name %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :quantity_type_quantity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
