<%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
                <% user.errors.full_messages.each do |message| %>
                    <li>
                        <%= message %>
                    </li>
                    <% end %>
            </ul>
        </div>
        <% end %>

            <div class="field">
                <%= form.label :first_name %>
                    <%= form.text_area :first_name, id: :user_first_name %>
            </div>

            <div class="field">
                <%= form.label :last_name %>
                    <%= form.text_area :last_name, id: :user_last_name %>
            </div>

            <div class="field">
                <%= form.label :title %>
                    <%= form.text_area :title, id: :user_title %>
            </div>

            <div class="field">
                <%= form.label :email %>
                    <%= form.text_area :email, id: :user_email %>
            </div>

            <div class="field">
                <%= form.label :password %>
                    <%= form.text_area :password, id: :user_password %>
            </div>

            <div class="field">
                <%= form.label :work_phone %>
                    <%= form.text_area :work_phone, id: :user_work_phone %>
            </div>

            <div class="field">
                <%= form.label :mobile_phone %>
                    <%= form.text_area :mobile_phone, id: :user_mobile_phone %>
            </div>

            <div class="field">
                <%= form.label :is_active %>
                    <%= form.check_box :is_active, id: :user_is_active %>
            </div>

            <div class="field">
                <%= form.label :admin %>
                    <%= form.check_box :admin, id: :user_admin %>
            </div>

            <div class="field">
                <%= form.label :company_id %>
                    <%= form.text_field :company_id, id: :user_company_id %>
            </div>

            <div class="actions">
                <%= form.submit %>
            </div>
            <% end %>