<p id="notice">
    <%= notice %>
</p>

<p>
    <strong>First name:</strong>
    <%= @user.first_name %>
</p>

<p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
</p>

<p>
    <strong>Email:</strong>
    <%= @user.email %>
</p>

<p>
    <strong>Password digest:</strong>
    <%= @user.password_digest %>
</p>

<p>
    <strong>Work phone:</strong>
    <%= @user.work_phone %>
</p>

<p>
    <strong>Mobile phone:</strong>
    <%= @user.mobile_phone %>
</p>

<p>
    <strong>Is active:</strong>
    <%= @user.is_active %>
</p>

<p>
    <strong>Is admin:</strong>
    <%= @user.is_admin %>
</p>

<p>
    <strong>Company:</strong>
    <%= @user.company %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
