<p id="notice">
    <%= notice %>
</p>


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <section>
            <div class="container" style="width: 450px;">
                <div class="card">

                    <div class="card-body">
                        <h4 class="card-title">
                            <%= @user.first_name %>
                        </h4>
                        <p>
                            <strong>Email:</strong>
                            <%= @user.email %>
                        </p>



                        <p>
                            <strong>Work phone:</strong>
                            <%= @user.work_phone %>
                        </p>

                        <p>
                            <strong>Mobile phone:</strong>
                            <%= @user.mobile_phone %>
                        </p>

                        <p>
                            <strong>Is active:</strong>
                            <%= @user.is_active %>
                        </p>

                        <p>
                            <strong>Admin:</strong>
                            <%= @user.admin %>
                        </p>

                        <p>
                            <strong>Company:</strong>
                            <%= @user.company.company_name %>
                        </p>


                    </div>
                    <%= link_to 'Edit', edit_user_path(@user), class: 'btn' %>
                </div>
            </div>
        </section>
    </div>
</div>