<%= flash[:alert] %>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <section>
                <div class="container">
                    <div class="row">
                        <% if @shopping_cart %>
                            <% @shopping_cart.products.each do |product| %>
                                <div class="col-md-4">
                                    <div class="card" style="width: 40rem;">
                                        <%= image_tag product.image.url(:medium, {:class => 'product_image_smaller' }) %>
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <%= product.name %>
                                                </h5>
                                                <p>
                                                    <%= product.description %>
                                                </p>
                                                <p class="card-text">
                                                    <%= number_to_currency(product.price) %>
                                                </p>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <%= link_to 'Remove from Cart', delete_product_from_order_path(product),
                                            method: :delete,
                                            data: {confirm: 'Are you sure?'},
                                            class: "btn btn-warning" %>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>

                                <% end %>
                    </div>

                    <% else %>
                        <p>Select a product to create an order</p>
                        <% end %>

                            <div class="row">
                                <div class="col-md-10">
                                    <%= link_to 'Complete Your Order', select_payment_path, class: "btn btn-primary" %>
                                </div>
                                <div class="col-md-2" id="total">
                                    <label for="proce">Total Order:</label>

                                    <%= number_to_currency(@shopping_cart.products.sum(:price))%>

                                </div>
                                <div class="col-md-12">
                                    <%= link_to 'Cancel Order', @shopping_cart, method: :delete, class: "btn btn-danger" %>

                                </div>
                            </div>
                </div>
            </section>
        </div>
    </div>