<p id="notice">
    <%= notice %>
</p>

<h1>Orders For Production on
    <%= Date.today %> & Delivery on
        <%= Date.today + 1.day %>
</h1>

<table>
    <thead>
        <tr>
            <th>Delivery date</th>
            <th>Company</th>
            <th>User</th>
            <th>Payment</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @orders.each do |order| %>
            <tr>
                <td>
                    <%= order.delivery_date %>
                </td>
                <td>
                    <%= order.company.company_name %>
                </td>

                <td>
                    <%= link_to 'Show', order %>
                </td>
                <td>
                    <%= link_to 'Edit', edit_order_path(order) %>
                </td>
                <td>
                    <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
            </tr>
            <% end %>
    </tbody>
</table>

<br>

<%= link_to 'Back', orders_path, class: 'btn-danger' %>