<p id="notice">
    <%= notice %>
</p>


<div class="row">
    <div class="container col-md-4">
        <h1>Companies</h1>
    </div>
    <div class="container col-md-4">

    </div>
    <div class="container col-md-4">
        <span class="float-right"><%= link_to 'Add Company', new_company_path, class: "btn btn-success" %></span>
    </div>
</div>
<div class="row">

    <% @companies.each do |company| %>
        <div class="card col-md-4">

            <div class="card-body">
                <h4 class="card-title">
                    <%= company.company_name %>
                </h4>
                <p class="card-text">
                    <%= company.shipping_address %>
                </p>
                <p class="card-text">
                    <%= company.shipping_address_2 %>
                </p>
                <p class="card-text">
                    <%= company.shipping_city %>
                </p>
                <p class="card-text">
                    <%= company.shipping_zipcode %>
                </p>
                <p class="card-text">
                    <%= company.company_phone %>
                </p>
                <p class="card-text">
                    <%= company.email %>
                </p>
                <p class="card-text">
                    <%= company.shipping_zipcode %>
                </p>
                <div class="row">
                    <p class="card-text">
                        <p>Active Customer?: </p>

                        <p>
                            <%= company.is_active %>
                        </p>
                    </p>

                </div>
            </div>
            <div class="card">
                <ul class="list-group list-group-flush">

                    <%= link_to "View Details", company_path(company), class: "list-group-item" %>
                </ul>
            </div>
        </div>
        <% end %>

</div>