<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Shipping address</th>
      <th>Shipping address 2</th>
      <th>Shipping city</th>
      <th>Shipping state</th>
      <th>Shipping zipcode</th>
      <th>Shipping notes</th>
      <th>Billing street address</th>
      <th>Billing address 2</th>
      <th>Billing state</th>
      <th>Billing zipcode</th>
      <th>Company phone</th>
      <th>Company email</th>
      <th>Payment terms</th>
      <th>Is active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.company_name %></td>
        <td><%= company.shipping_address %></td>
        <td><%= company.shipping_address_2 %></td>
        <td><%= company.shipping_city %></td>
        <td><%= company.shipping_state %></td>
        <td><%= company.shipping_zipcode %></td>
        <td><%= company.shipping_notes %></td>
        <td><%= company.billing_street_address %></td>
        <td><%= company.billing_address_2 %></td>
        <td><%= company.billing_state %></td>
        <td><%= company.billing_zipcode %></td>
        <td><%= company.company_phone %></td>
        <td><%= company.company_email %></td>
        <td><%= company.payment_terms %></td>
        <td><%= company.is_active %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
