<p id="notice">
    <%= notice %>


        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <section>
                    <div class="container" style="width: 450px;">
                        <div class="card">

                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= @company.company_name %>
                                </h5>
                                <div class="row">
                                    <div class="col-md-5">
                                        <strong>Shipping Address:</strong>
                                        <p>
                                            <%= @company.shipping_address %>
                                        </p>
                                        <p class="card-text">
                                            <%= @company.shipping_address_2 %>

                                        </p>
                                        <p class="card-text">
                                            <%= @company.shipping_city %>

                                        </p>
                                        <p class="card-text">
                                            <%= @company.shipping_zipcode %>

                                        </p>
                                        <p class="card-text">
                                            <strong>Shipping Notes:</strong>

                                            <%= @company.shipping_notes %>

                                        </p>
                                    </div>
                                    <div class="col-md-5">
                                        <strong>Billing Address:</strong>
                                        <p>
                                            <%= @company.billing_street_address %>
                                        </p>
                                        <p class="card-text">
                                            <%= @company.billing_address_2 %>

                                        </p>
                                        <p class="card-text">
                                            <%= @company.shipping_city %>

                                        </p>
                                        <p class="card-text">
                                            <%= @company.billing_zipcode %>

                                        </p>
                                    </div>
                                </div>
                                <p class="card-text">
                                    <strong>Email:</strong>
                                    <%= @company.email %>

                                </p>
                                <p class="card-text">
                                    <strong>Phone:</strong>
                                    <%= @company.company_phone %>
                                </p>
                                <p>
                                    <strong>Payment terms:</strong>
                                    <%= @company.payment_terms %>
                                </p>
                                <p>
                                    <strong>Customer is Active?</strong>
                                    <%= @company.is_active %>
                                </p>

                            </div>
                            <div>
                                <%= form_tag("/add_to_shopping_cart", method: "post") do  %>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <%= link_to "Edit", edit_company_path, class: "btn" %>
                                        </div>
                                    </div>

                                    <% end %>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>