<p id="notice">
    <%= notice %>
</p>

<p>
    <strong>Company name:</strong>
    <%= @company.company_name %>
</p>

<p>
    <strong>Shipping address:</strong>
    <%= @company.shipping_address %>
</p>

<p>
    <strong>Shipping address 2:</strong>
    <%= @company.shipping_address_2 %>
</p>

<p>
    <strong>Shipping city:</strong>
    <%= @company.shipping_city %>
</p>

<p>
    <strong>Shipping state:</strong>
    <%= @company.shipping_state %>
</p>

<p>
    <strong>Shipping zipcode:</strong>
    <%= @company.shipping_zipcode %>
</p>

<p>
    <strong>Shipping notes:</strong>
    <%= @company.shipping_notes %>
</p>

<p>
    <strong>Billing street address:</strong>
    <%= @company.billing_street_address %>
</p>

<p>
    <strong>Billing address 2:</strong>
    <%= @company.billing_address_2 %>
</p>

<p>
    <strong>Billing state:</strong>
    <%= @company.billing_state %>
</p>

<p>
    <strong>Billing zipcode:</strong>
    <%= @company.billing_zipcode %>
</p>

<p>
    <strong>Company phone:</strong>
    <%= @company.company_phone %>
</p>

<p>
    <strong>Company email:</strong>
    <%= @company.email %>
</p>

<p>
    <strong>Payment terms:</strong>
    <%= @company.payment_terms %>
</p>
<p>
    <strong>Customer is Active?</strong>
    <%= @company.is_active %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
    <%= link_to 'Back', companies_path %>