<%= form_with(model: product, local: true) do |form| %>
    <% if product.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

            <ul>
                <% product.errors.full_messages.each do |message| %>
                    <li>
                        <%= message %>
                    </li>
                    <% end %>
            </ul>
        </div>
        <% end %>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <section>
                        <div class="container-fluid form-control">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <form role="form">
                                    <div class="form-group">
                                        <label for="name">Product Name</label>
                                        <input type="text" id="name" name="name" class="form-control" />

                                    </div>
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <input type="text" id="description" name="description" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="price">Price</label>
                                        <input type="text" id="price" name="price" class="form-control" />
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="product_type_id"> Category</label>
                                            <%= collection_select(@orderProduct, :product_type_id, ProductType.all, :id, :name, include_blank: true) %>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="quantity_type_id">Sold As</label>
                                            <%= collection_select(@orderProduct, :quantity_type_id, QuantityType.all, :id, :name, include_blank: true) %>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="company_id">Company</label>
                                            <%= collection_select(@company, :company_id, Company.all, :id, :company_name, include_blank: true) %>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label for="image">Image</label>
                                        <%= form.file_field(:image, {:class => 'form-control'}) %>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label for="is_active">
                                                Active Product?
                                              <input type="checkbox" value="1" id="is_active" name="is_active" class="form-control-inline">
                                            </label>
                                        </div>
                                    </div>

                                    <div class="actions">
                                        <%= form.submit %>
                                    </div>
                                    <% end %>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>