<div class="card" style="width: 20rem;">
    <div class="card-body">
        <h4 class="card-title">
            <%= @product.name %>
        </h4>
        <div>
            <%= image_tag @product.image.url(:medium) %>
        </div>
        <p class="card-text">
            <%= @product.description %>
        </p>
        <p class="card-text">
            <%= number_to_currency(@product.price) %>
        </p>

    </div>
    <div class="card" style="width: 20rem;">
        <ul class="list-group list-group-flush">
            <%= form_tag("/add_to_shopping_cart", method: "post") do  %>
                <%= hidden_field_tag :product_id, @product.id %>
                    <% if can? :update, @product %>
                        <%= link_to 'Edit', edit_product_path(@product) %>
                            <% end %>
                                <% if can? :destroy, @product %>
                                    <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %>
                                        <% end %>
                                            <%= submit_tag "Add to Cart", class: "btn btn-primary" %>
                                                <%= collection_select(@orderProduct, :quantity_type_id, QuantityType.all, :id, :name, include_blank: true) %>
                                                    <%= text_field(@orderProduct, :quantity) %>
                                                        <% end %>

        </ul>
    </div>
</div>