<!DOCTYPE html>
<html>

<head>
    <title>dough-e Wholsale Bakery Mangement Software</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css' %>
            <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
                <%= csrf_meta_tags %>
</head>

<body>
    <% if current_user %>
        Signed in as
        <%= current_user.email %>
            <%= link_to "Logout", '/logout' %>
                <% else %>
                    <%= link_to 'Login', '/login' %> |
                        <%= link_to 'Signup', '/signup' %>
                            <% end %>

                                <%= yield %>
</body>

</html>