<!DOCTYPE html>
<html>

<head>
    <title>dough-e Wholsale Bakery Mangement Software</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css' %>
            <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
                <%= csrf_meta_tags %>
</head>

<body>
    <div>
        <% if logged_in? %>
            <nav class="navbar navbar-expand-lg">
                <%= link_to "Mac Factory", root_path, class: "navbar-brand" %>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <%= link_to "Product Catalog", products_path, class: "nav-link" %>
                            </li>
                        </ul>

                    </div>
                    <div class="collapse navbar-collapse" id="navbarNav">

                        <%= form_tag(products_path product_types_path, :method => :get) do %>
                            <%= text_field_tag :term, nil, 
                    {:placeholder => "Product Search"} %>
                                <% end %>
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item align-self-end">
                                        </li>
                                        <li class="nav-item align-self-end">
                                            <%= link_to "Log Out", logout_path, class: "nav-link" %>
                                        </li>
                                    </ul>
                    </div>
            </nav>
            <% else %>
                <nav class="navbar navbar-expand-lg">
                    <%= link_to "Mac Factory", root_path, class: "navbar-brand" %>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item align-self-end">
                                </li>
                                <li class="nav-item align-self-end">
                                    <%= link_to 'Login', login_path, class: "" %>

                                </li>
                            </ul>

                        </div>
                </nav>
                <%= link_to 'Sign Up', signup_path %>

                    <% end %>
                        <div class="dash">
                            <% if logged_in? %>
                                <div id="mySidenav" class="sidenav">
                                    <% if can? :update, @orders %>
                                        <a href="#/orders">Today's Production</a>
                                        <% end %>
                                            <hr>
                                            <a href="#">Services</a>
                                            <hr class="line">
                                            <a href="#">Clients</a>
                                            <hr>
                                            <a href="#">Contact</a>
                                            <hr>
                                </div>

                                <% end %>
                        </div>



                        <div class="container">

                            <%= yield %>

                        </div>
    </div>


</body>

</html>